@import "../../styles-theme/variables.scss";
.quiz-container {
    max-width: 600px;
    margin: auto;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
    p {
        font-weight: bold;
        color: $color_primary;
        font-size: $font_size_1;
        font-family: $font_family;
    }
    .title {
        padding-top: 150px;
    }
    .login-input {
        color: $color_secondary !important;
        border-color: $color_secondary !important;
        border-radius: 5px !important;
        margin-bottom: 20px !important;
        box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2) !important;
        border-style: none !important;
        font-family: $font_family;
        height: 40px;
        font-size: $font_size_3;
    }
    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;
    }
    .button-next {
        padding-left: 20px;
        padding-right: 20px;
        color: $color_secondary;
        font-weight: bold;
        font-size: $font_size_2;
        font-family: $font_family;
        border-color: $color_secondary;
        border-radius: 5px;
        background-color: $color_tertiary;
        cursor: pointer;
    }
    .button-couple {
        margin-left: 10px;
    }

    .question {
        font-weight: bold;
        font-size: $font_size_2;
        font-family: $font_family;
    }
    .notes {
        color: $color_primary;
        font-size: 16px;
        font-family: $font_family;
        font-weight: 100;
    }
}
