@import "../../styles-theme/variables.scss";
.main-container {
    max-width: 1000px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        font-weight: bold;
        color: $color_primary;
        font-size: $font_size_2;
        font-family: Arial, Helvetica, sans-serif;
    }
    .underlined {
        text-decoration: underline !important;
        cursor: pointer;
    }

    .quiz-ans-cont {
        .answer-box {
            p {
                color: $color_primary;
                font-size: $font_size_3 !important;
            }
        }
    }

    .answer {
        p {
            color: $color_secondary !important;
        }
    }
}
