.main-container {
    max-width: 1000px;
    margin: auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        font-weight: bold;
        color: #ba2ebd;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .quiz-img-cont {
        display: flex;
        justify-content: space-between;
        img {
            height: 300px;
            width: 300px;
            border-style: solid;
            border-width: 3px;
            border-color: #ba2ebd;
            box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.2) !important;
            opacity: 0.7;
        }
        img:hover {
            opacity: 1;
            box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.4) !important;
            cursor: pointer;
            background-color: #e124891c;
        }
    }
}
