<div class="login-container">
    <div class="logo-container">
        <img src="../../assets/quizzical-logo.svg">
    </div>
    <div class="question-mark">
        <img src="../../assets/question-mark.svg">
    </div>
    <div class=" input-container">
        <input nz-input placeholder="Enter email" nzSize="large" class="login-input" />
        <input nz-input placeholder="Enter password" nzSize="large" class="login-input" />
        <button nz-button nzType="default" class="login-button" (click)="login()">Log In</button>
    </div>

</div>