<div class="login-container">
    <div class="logo-container">
        <img src="../../assets/quizzical-logo.svg">
        <p class="logo-text">WebbiSkools Ltd</p>
    </div>
    <div class="question-mark">
        <img src="../../assets/question-mark.svg">
    </div>
    <form class=" input-container" #form="ngForm">
        <input nz-input placeholder="Enter email" nzSize="large" name="email" [(ngModel)]="login_creds.username"
            required class="login-input" />
        <input nz-input placeholder="Enter password" nzSize="large" type="password" name="password"
            [(ngModel)]="login_creds.password" required class="login-input" />
        <div class="button-container">
            <button nz-button nzType="default" class="login-button" (click)="login()">Log In</button>
        </div>

    </form>



</div>