<app-navbar></app-navbar>
<div *ngIf="quiz" class="main-container">
    <p class="title">Here is an example question????</p>

    <div class="quiz-ans-cont">
        <div class="answer-box">
            <div class="answer">
                <p>Answer A</p>
            </div>
        </div>
        <div class="answer-box">
            <div class="answer">
                <p>Answer B</p>
            </div>
        </div>
        <div class="answer-box">
            <div class="answer">
                <p>Answer C</p>
            </div>
        </div>
    </div>

</div>
<div *ngIf="!quiz" class="end-quiz-cont">
    <p class="title">GAME OVER!!!</p>
    <div class="quiz-ans-cont">
        <div class="answer-box-2">
            <div class="answer">
                <p>Play Again?</p>
            </div>
        </div>
        <div class="answer-box-2">
            <div class="answer">
                <p>Go Home</p>
            </div>
        </div>
    </div>
</div>