// font colours
$color_primary: #ba2ebd;
$color_secondary: #e1248a;
$color_tertiary: #e124891c;

// font fam
$font_family: Arial, Helvetica, sans-serif;

// font sizes
$title_font: 40px;
$font_size_1: 32px;
$font_size_2: 24px;
$font_size_3: 18px;
