<app-navbar></app-navbar>
<div *ngIf="!quizSelected" class="main-container">
    <p>Select a quiz you would like to amend:</p>
    <div class="quiz-name-container">
        <div class="quiz-img-cont" *ngFor="let quiz of quizList">
            <p class="name" (click)="selectQuiz(quiz)">{{quiz.quiz_name}}</p>
        </div>

    </div>
</div>

<div *ngIf="quizSelected" class="quiz-container" [ngClass]="newQuestion ? 'no-margin' : ''">
    <div class="inner-container">
        <div *ngIf="!newQuestion">
            <p>{{quizTitle}}
                <span class="underlined" (click)="delete(question, 'quiz')">Delete Quiz</span>
            </p>
        </div>



        <div *ngIf="!newQuestion">
            <form class="question" *ngFor=" let question of quizQuestions; let last = last" #form="ngForm">
                <input nz-input nzSize="large" class="login-input question" name="question"
                    [(ngModel)]="question.question" (blur)="saveChanges(question)" />
                <input nz-input nzSize="large" class="login-input" name="answer_a"
                    [(ngModel)]="question.answers.answer_a" (blur)="saveChanges(question,  'answer')" />
                <input nz-input nzSize="large" class="login-input" name="answer_b"
                    [(ngModel)]="question.answers.answer_b" (blur)="saveChanges(question,  'answer')" />
                <input nz-input nzSize="large" class="login-input" name="answer_c"
                    [(ngModel)]="question.answers.answer_c" (blur)="saveChanges(question,  'answer')" />
                <input nz-input nzSize="large" class="login-input" name="answer_d"
                    [(ngModel)]="question.answers.answer_d" (blur)="saveChanges(question,  'answer')" />
                <div class="button-container">
                    <button *ngIf="last" class="button-next" (click)="addQuestion()">+ Add</button>
                    <button class="button-next button-couple" (click)="delete(question)">Delete Question</button>


                </div>
            </form>
        </div>

        <div *ngIf="newQuestion">
            <form class="question" #form="ngForm">
                <p class="notes">*Please provide a question and up to 4 multiple choice answers.</p>
                <p class="question">Question</p>
                <input nz-input nzSize="large" class="login-input question" name="question" [(ngModel)]="question" />
                <p class="question">Answer A</p>
                <input nz-input nzSize="large" class="login-input" name="answer_a" [(ngModel)]="answer_a" />
                <p class="question">Answer B</p>
                <input nz-input nzSize="large" class="login-input" name="answer_b" [(ngModel)]="answer_b" />
                <p class="question">Answer C</p>
                <input nz-input nzSize="large" class="login-input" name="answer_c" [(ngModel)]="answer_c" />
                <p class="question">Answer D</p>
                <input nz-input nzSize="large" class="login-input" name="answer_d" [(ngModel)]="answer_d" />

                <div class="button-container">
                    <button class="button-next" (click)="home()">Done</button>
                    <button class="button-next button-couple" (click)="addQuestion('save')">+ Add</button>

                </div>
            </form>
        </div>



    </div>



</div>